Brotli
cffi
chardet
cssselect2
cx_Oracle
et_xmlfile
fonttools
numpy
openpyxl
pandas
pillow
pycparser
pydyf
pyphen
python-dateutil
pytz
reportlab
schedule
six
tinycss2
tinyhtml5
tzdata
weasyprint
webencodings
zopfli
